<!DOCTYPE HTML>
<html lang="en-US">
  <head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
  <title>大学生交友平台</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
   <link rel="stylesheet" href="css/bui.css" />
   <link rel="stylesheet" href="css/style.css" />
   <link rel="stylesheet" type="text/css" href="css/skin.css"/>
   <link rel="stylesheet" href="css/slide.css" />
   <script src="js/jquery-1.11.1.js"></script>
   <script src="js/zepto.js"></script>
    <script src="js/bui.js"></script>

    
    <script>
        $(function(){
            $(".tabFootNav>li").click(function(){
                $(this).addClass("active");
                $(this).siblings().removeClass("active");
                var index=$(this).index();
                if(index==0){
                    $(".bui-bar-main").html("好友列表");
                   $("header").addClass("square");
                   $(".bui-bar-right>a>i").html("&#xe613;");
                   $(".bui-bar-left>a>i").html("")
                }
                else if(index==1){
                    $("header").removeClass("square");
                    $(".bui-bar-main").html("消息");
                    $(".bui-bar-right>a>i").html("");
                    $(".bui-bar-left>a>i").html("");
                }
                else{
                    $("header").removeClass("square");
                    $(".bui-bar-main").html("个人信息");
                    $(".bui-bar-right>a>i").html("");
                    $(".bui-bar-left>a>i").html("");
                }
                var $li=$(".content1>li").eq(index);
                $li.siblings().removeClass("show");
                $li.addClass("show");
            });
        })
            
        </script>
  </head>
  <body>
    <!-- 页面标准模板,包含 header(非必须) main footer(非必须) -->
    <div class="bui-page">
      <!--固定在顶部结构 header-->
      <header class="bui-bar square">
          <div class="bui-bar-left" onclick="">
              <a onclick="" class="bui-btn">
                  <i class="icon">&#xe60c;</i>
              </a>
          </div>

        <div class="bui-bar-main">
          好友列表
        </div>
        <div class="bui-bar-right">
                <a onclick="" class="bui-btn">
                        <i class="icon">&#xe613;</i>
                </a>  
        </div>
      </header>
      <main>
          <ul class="content1">
              <li id="square" class="show">
                    <div class="up" style="position:relative;">
                            <div>已配对：<span class="sum">{{dated}}</span><span class="team">对</span></div>
                        </div>
                        <div>  
                          <ul class="bui-list news-list">
						  <template v-for="p in persons"> 
                              <li class="bui-btn bui-box-align-top list" v-on:click="toDetail(p.tel)">
                                  <div class="thumbnail"><img src="images/1.jpg" alt=""></div>
                                  <div class="span1">
                                      <h3 class="item-title">{{p.nickname}}</h3>
									  <div v-if="p.gender == '女'">
									  <div class="item-info">
									  <span><img src="images/f.png" alt=""></span>
									  <span class="age">{{p.age}}</span><span class="star">双鱼</span></div>
									  </div>
									  <div v-else>
									  <div class="item-info" style="background: #97FFFF;">
									  <span><img src="images/m.png" alt=""></span>
									  <span class="age">{{p.age}}</span><span class="star">双鱼</span></div>
									  </div>
										  
                                      <div class="item-text bui-box">
                                          <div class="span1">
                                              <div class="item-sig">{{p.motto}}</div>
                                              </div>     
                                      </div>
                                  </div> 
									  <div class="span1">
										  <p class="school">西安交通大学</p><br/>
										  <p class="school">电气工程</p><br/>
									  </div>									  
                              </li>
							</template>
                          </ul>
                        </div>          
             </li>
				
             <li id="message">
                <div class="up3">
                <div id="uiSlideNavbar">
                    <ul id="nav" class="bui-nav">
						<li class="bui-btn"><div class="span1"><img src="images/bub.png"></div>答题记录</li>
                        <li class="bui-btn"><div class="span1"><img src="images/square.png"></div>收到答卷</li>
                        <li class="bui-btn"><div class="span1"><img src="images/circle.png"></div>我的cp</li>
                    </ul>
                </div>
                <div id="uiSlideTab" class="bui-tab">
                    <div class="bui-tab-main">
                        <ul>
                        <li>                        
                          <ul class="bui-list news-list" v-for="r in records"> 
                              <li class="bui-btn bui-box-align-middle" v-on:click="directRecord(r.tel)">
                                  <div class="thumbnail"><img :src="r.pic" alt=""></div>
                                  <div class="span1">
                                      <div class="bui-text">我向<span class="user-name">{{r.nickname}}</span>提交了答案</div>
                                  </div>  
                                  <div class="span1" v-if="r.cp == 1">
                                      <div class="state">已配对</div>
                                  </div>
                                  <div class="span1" v-if="r.cp == 0">
                                      <div class="state">未配对</div>
                                  </div>									
                              </li>  
                          </ul>
						</li>
                        <li>                        
							<div>  
                          <ul class="bui-list news-list" v-for="s in submitted">
                              <li class="bui-btn bui-box-align-middle" v-on:click="directSubmmitted(s.tel)">
                                  <div class="thumbnail"><img :src="s.pic" alt=""></div>
                                  <div class="span1">
                                      <div class="bui-text"><span class="user-name">{{s.nickname}}</span>回答了我的问题</div>
                                  </div>    
                                  <div class="span1" v-if="s.cp == 1">
                                      <div class="state">已配对</div>
                                  </div>
                                  <div class="span1" v-if="s.cp == 0">
                                      <div class="state">未配对</div>
                                  </div>	
                              </li>  
                          </ul>
                        </div>
						</li>
                            <li>                        
							<div>  
                          <ul class="bui-list news-list">
						  <template v-for="p in cp"> 
                              <li class="bui-btn bui-box-align-top list" v-on:click="directDetail(p.tel)">
                                  <div class="thumbnail"><img src="images/1.jpg" alt=""></div>
                                  <div class="span1">
                                      <h3 class="item-title">{{p.nickname}}</h3>
									  <div v-if="p.gender == '女'">
									  <div class="item-info">
									  <span><img src="images/f.png" alt=""></span>
									  <span class="age">{{p.age}}</span><span class="star">双鱼</span></div>
									  </div>
									  <div v-else>
									  <div class="item-info" style="background: #97FFFF;">
									  <span><img src="images/m.png" alt=""></span>
									  <span class="age">{{p.age}}</span><span class="star">双鱼</span></div>
									  </div>
										  
                                      <div class="item-text bui-box">
                                          <div class="span1">
                                              <div class="item-sig">{{p.motto}}</div>
                                              </div>     
                                      </div>
                                  </div> 
									  <div class="span1">
										  <p class="school">西安交通大学</p><br/>
									  </div>									  
                              </li>
							</template>
                          </ul>
                        </div></li>
                        </ul>
                    </div>
                </div>
				</div>	
			 </li>
			 
             <li id="homepage">
                    <ul class="bui-list news-list ">
                            <li class="bui-btn bui-box-align-top bui-li">                           
								<div class="thumbnail1"><img :src="person.icon" preview alt="" id="face"></div>
                                <div class="span1">
                                    <ul class="bui-list sec-ul">
                                        <li class="first">姓名:&nbsp&nbsp<span class="input-li">{{person.nickname}}</span></li>
                                        <li>签名：<span class="input-li">{{person.motto}}</span></li>
                                        <li>学校：<span class="input-li">{{person.university}}</span></li>
                                        <li>专业：<span class="input-li">{{person.major}}</span></li>
                                        <li><a><i class="icon" style="margin-right: 0">&#xe62d;</i>个人信息修改</a></li>
                                    </ul>
                                </div>    
                            </li>
                        </ul>
                        <ul class="bui-list contact-list">
                            <li class="bui-btn bui-box clearactive bui-li3">
                                <label class="bui-label ">家乡：</label>
                                <div class="span1">
                                    <div class="bui-value">{{person.hometown}}</div>
                                </div>
                            </li>
                            <li class="bui-btn bui-box clearactive bui-li3">
                                <label class="bui-label">身高：</label>
                                <div class="span1">
                                    <div class="bui-value">{{person.height}}cm</div>
                                </div>
                            </li>
							<li class="bui-btn bui-box clearactive bui-li3">
								<label class="bui-label">体重：</label>
								<div class="span1">
									<div class="bui-value">{{person.weight}}kg</div>
								</div>
							</li>
							<li class="bui-btn bui-box clearactive bui-li3">
								<label class="bui-label">出生日期：</label>
								<div class="span1">
									<div class="bui-value">{{person.birth}}</div>
								</div>
							</li>
							<li class="bui-btn bui-box clearactive bui-li3">
								<label class="bui-label">学历：</label>
								<div class="span1">
									<div class="bui-value">{{person.education}}</div>
								</div>
							</li>  
							<li class="bui-btn bui-box clearactive bui-li3">
								<label class="bui-label">兴趣爱好：</label>
								<div class="span1">
									<div class="bui-value">{{person.interest}}</div>
								</div>
							</li>
							<li class="bui-btn bui-box clearactive bui-li4">
								<label class="bui-label">相册：</label>
								<div class="span1">
								<div class="img-wrap">
								<div v-for="(val,index) in photos">
									<span class="file-remove" v-on:click="remove(index)">✖</span>
									<img :src="val" :alt="index"  preview="1">
									
								</div>
								<div class="add" v-on:click="add">
									<span>+
									<input type="file" accept="image/*" @change="onfilechange" ref="file" multiple="multiple" style="display:none">
									</span>
								</div>
								</div>
								</div>
							</li>
                            <li class="bui-btn bui-box clearactive">
                                    <div class="span1"><div class="bui-btn bui-edit edit-div" v-on:click="editPaper" >编辑我的答卷</div></div>
                                    <div class="span1"><div class="bui-btn edit-div" v-on:click="feedback">问题反馈</div></div>
                                </li>
                        </ul>        
             </li>
            </ul>
      </main>
      <footer>
            <ul  class="bui-nav main-nav tabFootNav">
                    <li class="bui-btn bui-box-vertical  active" href="">
                        <i class="icon">&#xe600;</i>
                        <div class="span1">广场</div>
                    </li>
                    
                    <li class="bui-btn bui-box-vertical" href="">
                        <i class="icon">&#xe677;</i>
                        <div class="span1">消息</div>
                    </li>
                    <li class="bui-btn bui-box-vertical" href="">
                        <i class="icon">&#xe67a;</i>
                        <div class="span1">我的</div>
                    </li>
                    
                </ul>
      </footer>
    </div>  
 	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
   <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
   <script src="js/vue-photo-preview.js" type="text/javascript" charset="utf-8"></script>
   <script src="js/slide.js"></script>   
    <script>
bui.ready(function(){
		// 快速初始化
		var uiSlideTab = bui.slide({
				id:"#uiSlideTab",
				menu:"#nav",
				children:".bui-tab-main > ul",
				// 如果slide 里面有 bui.list 则 scroll 不需要设置
				scroll: true
		});
		// 让顶部导航滚动到可视位置
		uiSlideTab.on("to",function (index) {
				var left = $("#nav li")[index].offsetLeft;
				document.getElementById("uiSlideNavbar").scrollLeft = left;
		})
})
	</script>
  </body>
</html>